:root {
    --toupe: #c19b76;
    --black: #1c1c1c;
    --warm-grey: #878787;
  }

body, html, button {
    font-family: 'Roboto', sans-serif;
    font-stretch: normal;
    font-weight: normal; 
    font-style: normal;
}

a {
    text-decoration: none;
}

button {
    border: unset;
    cursor: pointer;
}

#wrapper {
    width: 1440px;
    margin: 0 auto;
    display: block;
}

/* header BEGIN */

header {
    height: 38px;
    background-color: var(--black);
    padding-top: 13px;
    padding-left: 281px;
    padding-right: 284px;
    display: flex;
}

.logo {
    width: 128px;
    height: 19px;
}

header nav {
    width: 100%;
    padding-left: 281px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

header nav a {
    font-size: 10.5px;
    font-weight: 600;
    line-height: 1.95;
    letter-spacing: -0.11px;
    text-align: left;
    color: var(--warm-grey);
    padding-bottom: 2px;
}

header nav a:hover {
    color: white;
    border-bottom: 3px solid var(--warm-grey);
}
/* header END */


/* #top BEGIN */

#top {
    height: 576px;
    background-image: url(/img/top.jpg);
    background-position: bottom;
    /* background-image: linear-gradient(to top, rgba(28, 28, 28, 0.2), rgba(28, 28, 28, 0.2)); */
    object-fit: contain;

    padding-top: 77px;
}

#top h1 {
    color: white;
    font-size: 9px;
    text-align: center;
    font-style: normal;
    line-height: 2.28;
    letter-spacing: 1.53px;
}

hr.divider {
    width: 24px;
    height: 2px;
    background-color: white;
    border: none; 
    margin-top: 21px;
    margin-bottom: 21px;
}

#top h2 {
    font-family: GildaDisplay;
    font-size: 52.5px;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: white;
}

button.transparent {
    width: 144px;
    height: 36px;
    border: solid 1.5px #ffffff;
    background-color: transparent;
    margin: 0 auto;
    display: block;
    color: white;
    font-size: 8.5px;
    font-weight: 900;
    line-height: 2.41;
    letter-spacing: 0.85px;
    margin-top: 35px;
}

.availablity {
    display: flex;
    width: 540px;
    height: 100px;
    margin: 93px auto 0 auto; 
    background-color: white; 
}

.availablity button {
    width: 135px;
    background-color: black;
}

.availablity__item {
    flex: 25%;
    padding-left: 40px;
}

.availablity__item label {
    display: block;
    width: 57px;
    text-align: center;
    font-size: 9px;
    line-height: 2.28;
    letter-spacing: 0.72px;
    color: #a3a3a3;
    margin-top: 14px;
}

.availablity__item input {
    width: 57px;
    height: 40px;
    border: solid 0.8px #a3a3a3;
    background-color: white;

    font-family: GildaDisplay;
    font-size: 37.5px;
    line-height: 0.55;
    letter-spacing: -2.25px;
    text-align: center;
}

.availablity__item button {
    background-color: black;
    height: 100%;
    color: white;
    font-size: 9px;
    line-height: 1.72;
    letter-spacing: 1.53px;
}

.availablity__item select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;

    font-family: GildaDisplay;
    font-size: 9px;
    line-height: 2.28;
    letter-spacing: -0.54px;
    color: var(--black);

    background: transparent;

    vertical-align: top;
    line-height: 42px;
}

/* #top END */

/* #about-us */

#about-us {
    padding-top: 75px;
    height: 504px;
    display: flex;
}

#about-us aside h2{
    font-family: GildaDisplay;
    font-size: 60px;
    line-height: 1.01;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
    margin-top: 27px;
    margin-bottom: 30px;
}

#about-us aside.left {
    margin-left: 310px;
    width: 360px;
}

#about-us aside p {
    font-family: Roboto;
    font-size: 10.5px;
    line-height: 1.95;
    letter-spacing: 0.63px;
    text-align: center;
    color: var(--warm-grey)
}

#about-us button {
    display: block;
    width: 103px;
    height: 33px;
    background-color: var(--toupe);
    color: white;
    font-size: 8.5px;
    font-weight: 900;
    line-height: 2.41;
    letter-spacing: 0.85px;    
    margin: 0 auto;
    margin-top: 30px;
}

#about-us aside.right {
    position: relative;
    margin-left: 30px;
}

#about-us aside.right img {
    position: absolute;
}

#about-us aside.right img.pic1{
    z-index: 1;
    left: 42px;
    top: -26px;
}

#about-us aside.right img.pic2{
    z-index: 2;
    left: 0;
    top: 146px;
}

#about-us aside.right img.pic3{
    z-index: 3;
    left: 318px;
    top: 0px;
}



/* #about-us END */

/* #best-rooms */

#best-rooms {
    height: 618px;
    padding-top: 56px;
    background-color: #f9f9f9;
}

#best-rooms .divider.warm {
    background-color: var(--warm-grey);
}

#best-rooms h2 {
    font-family: GildaDisplay;
    font-size: 41.5px;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
}

#best-rooms .book-now {
    width: 428px;
    height: 392px;
    background-color: white;
    background-image: url(/img/bedroom.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

#best-rooms h3 {
    font-family: GildaDisplay;
    font-size: 22.5px;
    line-height: 0.71;
    letter-spacing: normal;
    color: var(--black);
}

#best-rooms .room p,
#best-rooms p.room-label {
    font-size: 8.5px;
    font-style: normal;
    line-height: 2.41;
    letter-spacing: 0.85px;
    color: white;
    text-transform: uppercase;
    padding-left: 22px;
    padding-top: 162px;
}

#best-rooms .room {
    width: 203px;
    height: 184px;
}

#best-rooms .room.atelier{
    background-image: url(/img/apartment.jpg);
}

#best-rooms .room.piazza{
    background-image: url(/img/hotel.jpg);
}

#best-rooms .room.gallery{
    background-image: url(/img/cozy-modern-bedroom.jpg);
}

#best-rooms .room.grand-piazza-suite{
    background-image: url(/img/interior.jpg);
}


/* #best-rooms END*/

/* #check-all */
#check-all {
    height: 481px;
    background-color: var(--black);
}
/* #check-all END*/


/* #text-info */
#text-info {
    height: 87px;
    margin-top: 57px;
    margin-bottom: 57px;
}
/* #text-info END */

/* footer */
footer {
    height: 67px;
    background-color: #151515;
    padding-left: 281px;
    padding-right: 826px;    
}

footer nav {
    width: 100%;
    padding-top: 26px;
}

footer nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

footer nav a {
    font-family: GildaDisplay;
    font-size: 9.5px;
    line-height: 2.16;
    letter-spacing: 0.29px;
    color: white;
}

footer nav a:hover {
    color: white;
}
/* footer END */

.hotelBayview {
    font-size: 10.5px;
    line-height: 1.95;
    letter-spacing: 1.16px;
    text-align: center;
    color: var(--warm-grey);
}
