/* main begin */

.top--rooms {
    background-image: url(../img/top-rooms.jpg);
    height: 290px;
    width: 100%;
}

.top__subtitle--rooms {
    margin-top: 108px;
}

.content {
    display: flex;
    width: 880px;
    margin: 0 auto;
    padding-top: 34px;
}


/* main end */


/* .filter begin */

hr {
    display: block;
    margin-top: 29px;
    margin-bottom: 29px;
    height: 3px;
    width: 100%;
    background-color: #f9f9f9;
    border: none;
    padding: 0;
}

.filter {
    max-width: 278px;
}

.date-guests {
    overflow: hidden;
    box-sizing: border-box;
    width: 278px;
    height: 312px;
    background-color: #151515;
    color: white;
}

.filter__title {
    font-family: 'Gilda Display', serif;
    font-size: 15px;
    line-height: 1.37;
    letter-spacing: -0.6px;
}

.filter__title--white {
    margin-top: 38px;
    margin-bottom: 38px;
    text-align: center;
}

.filter__title--black {
    letter-spacing: 0.9px;
    text-align: left;
    color: #1c1c1c;
}

.filter__items {
    display: grid;
    grid-template-columns: 110px 110px;
    grid-template-rows: 92px 92px;
    row-gap: 14px;
    justify-content: center;
    justify-items: center;
}

.filter__item {
    display: grid;
}

.filter__item--date {
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    grid-template-areas: "label label" "date month";
}

.filter__item--count {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    grid-template-areas: "label" "count";
}

.filter__label {
    grid-area: label;
    align-self: center;
    justify-self: center;
    font-size: 11px;
    /* line-height: 2.28; */
    letter-spacing: 0.72px;
}

.filter__input {
    border: none;
    font-size: 37.5px;
    width: 44px;
    background: transparent;
    font-family: 'Gilda Display', serif;
    font-size: 37.5px;
    line-height: 0.55;
    letter-spacing: -2.25px;
    text-align: center;
    color: #c19b76;
}

.filter__input--date {
    grid-area: date;
    justify-self: end;
}

.filter__input--count {
    grid-area: count;
    justify-self: center;
}

.filter__month {
    grid-area: month;
    justify-self: center;
    background: transparent;
    border: none;
    font-size: 15px;
    font-family: 'Gilda Display', serif;
    line-height: 2.28;
    letter-spacing: -0.54px;
    text-align: center;
    color: #c19b76;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.services__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filter__square {
    width: 29px;
    height: 24px;
    background-color: #1c1c1c;
    border: none;
}

.filter__square::
/* .filter end */


/* .main end */


/* .footer begin */

.footer {}


/* .footer end */